.competition-detail {
  width: 300px;
  padding: 20px;
  p>span{
    font-weight: bolder;
  }
  button{
    float: right;
  }
}

.competition-detail img {
  background-size: cover;
  display: block;
}

.competition-detail md-card-title{
  font-weight: bolder;
  font-size: 17px;
}
