


<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
      <img src="../../../assets/images/no-photo.png">
</div>

<div class="wrapper"  class="no-connection">
  <md-card>
    <div class="picture-wrapper">
    </div>
    <md-card-content>
      <p>If you are offline viewing, you'll need to visit this page with a network connection first before it can work offline.</p>
    </md-card-content>
  </md-card>
</div>

<img  src="../../../assets/images/lanfall_logo.png" alt="lanfall-logo"/>