
md-card{
    padding: 15px;
    margin: 25px;
    md-card-content{
        display:block;
    }
}

md-card-title-group{
    display:block;
}


md-card-subtitle{
    display:block;
    margin-top: 20Px;
    color:grey;
}


md-card-content{
    font-size: 18px;
}

md-card img{
    width: 125px;    
}
