
section{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    margin: 8px;
}
.player-content md-card{
    text-align: center;
    display: block;
    padding-bottom: 10px;
    
}



.player-content md-card-header{    
    margin-top: 10px;
    padding: 20px;
}


.player-content md-card-header{    
    margin-top: 10px;
    padding: 20px;
}

.player-content md-card-content{
    
    padding: 20px;
}


.player-content  md-card-title{
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.no-player-found{
    display: block;
}

.no-player-found>h1{
    display: block;
}
.no-player-found>a{
    display: block;
}

.example-section p{
    display: block;
}
