<div class="no-connection" *ngIf="!players && hasError">
    <md-card>
        <md-card-content>
            <p>If you are offline viewing, you'll need to visit this page with a network connection first before it can work
                offline.</p>
        </md-card-content>
    </md-card>
</div>

<div *ngIf="players && !loading" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end">
    <div fxFlex.gt-sm="67" fxFlex.gt-md="33" fxFlex="100" >
        

            <input mdInput placeholder="Choose Player" [mdAutocomplete]="auto" [formControl]="stateCtrl">

        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let player of filteredPlayers | async" [value]="player">
                {{ player }}
            </md-option>
        </md-autocomplete>


    </div>
</div>
<md-progress-spinner mode="indeterminate" *ngIf="loading" class="center-spinner center-screen"></md-progress-spinner>