<div class="no-connection" *ngIf="!players && hasError">
    <md-card>
        <md-card-content>
            <p>If you are offline viewing, you'll need to visit this page with a network connection first before it can work
                offline.</p>
        </md-card-content>
    </md-card>
</div>

<div *ngIf="players && !loading" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end">
    <div fxFlex.gt-sm="67" fxFlex.gt-md="33" fxFlex="100" *ngFor="let player of players ">
        
        
        <md-card class="player-content">
                <div fx-layout="row" fx-flex fx-layout-align="end" >
            <md-card-title-group>
                <md-card-title>{{player.firstname | uppercase}}  {{player.nickname}} {{player.lastname | uppercase}}</md-card-title>
            </md-card-title-group>
            <md-card-content>
                <p>Game: {{player.game}}</p>
                <p>Rating</p>                
            </md-card-content>
            
                </div>
        </md-card>
    </div>
</div>

<md-list dense>
    <md-list-item *ngFor="let item of items">
        {{item}}
    </md-list-item>
</md-list>

<md-progress-spinner mode="indeterminate" *ngIf="loading" class="center-spinner center-screen"></md-progress-spinner>