

.content{
    margin-top: 20px;
    margin-right: 5px;
}

.competition-detail {
  padding: 20px;
  p>span{
    font-weight: bolder;
  }
  button{
    float: right;
  }
}

.competition-detail img {
  background-size: cover;
}