<div class="no-connection" *ngIf="!players && hasError">
    <md-card>
        <md-card-content>
            <p>If you are offline viewing, you'll need to visit this page with a network connection first before it can work
                offline.</p>
        </md-card-content>
    </md-card>
</div>

<div class="player-detail" *ngIf="player && !loading" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
        

        <!-- show nickname of player -->
        <md-card>
                <md-toolbar id="toolbar"  color="primary">
                    <span>rate this player</span>
                </md-toolbar>    
            <h4>{{player?.nickname}}</h4>
            <p><span>current global rating:</span> {{ ( player?.ratings.brains + player?.ratings.talent + player?.ratings.respect ) / 3| round }}</p>
                <!-- give option to rate player -->       

            <input mdInput name="componentProperty" [(ngModel)]="componentProperty" type="number" required
                    placeholder="lol.." #templateVariable maxLength="50">
            <md-hint align="start">{{templateVariable.value.length}} / 50</md-hint>
     
        </md-card>        
</div>



<!-- Page Loader -->
<md-progress-spinner mode="indeterminate" *ngIf="loading" class="center-spinner center-screen"></md-progress-spinner>